.login-parent {
    height: 70vh;
    width: 50%;
    margin: 10vh auto;
    display: flex;
}

.login-name {
    background-color: #E7AB3C;
    height: 70vh;
    width: 40%;
    display: flex;
    text-align: center;
}

.title-login{
    margin: auto;
    color: #1F2833;
}

.login-form {
    width: 60%;
    height: 70vh;
    border: 3px solid #E7AB3C;
    padding: 5%;
}

.submit-button{
    color: #1F2833;
    background-color:#E7AB3C;
    width: 100%;
    margin-top: 5vh;
}