.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login{
  float: right;
  font-size: 14px;
  color: #252525;
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 12px;
  padding-left: 914px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61  dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.image{
  margin-right: 200px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}
.addtocart{
  position: absolute;
  width: 100%;
  background-color: #636363;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{

  bottom: 50px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}
/*-----Cart Page--------------*/
@media(max-width: 500px) {
  nav h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;;
  }
}
.sm-hide{
  display: none;
}
.products,
.products-header{
  justify-content: center;
}
.basketTotalContainer{
  padding-right: 8%;
}
.container-products{
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.container-products ion-icon{
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid gray;
  margin: 0 auto;
}
.product-title{
  width: 45%;
}

.price{
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.quantity{
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;

}

.total{
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.Arrange{
  margin-right: -109%
}
.product-right{
  position: absolute;
  margin-top: 33%;
  margin-left: 69%;
  width: 21%;
}

.review{
  position: absolute;
  margin-top: 33%;
  margin-left: 0%;
  width: 115%;

}
.product{
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}
.product ion-icon{
  cursor: pointer;
}
.products{
  width: 117%;
  display: flex;
  flex-wrap: wrap;

}
.products img{
  width: 75px;
}
.basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding:10px 0;
}
.basketTotalTitle{
  width: 30%;

}
.baketTotal{
  width: 10%;

}
.lay{

  position: relative;
  margin-top: -23%;
  margin-left: 43%;
}

.shop{


}


.container-fluid{
  margin-left: 1%;
  background: linear-gradient(to right, #42275a, #734b6d);

}
.navbar {
  background: rgb(14,23,23);
  background: linear-gradient(0deg, rgba(14,23,23,1) 0%, rgba(180,145,71,1) 100%);
}



